body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #444;
    padding: 20px;
}

#videoSummary {
    border-bottom: 1px solid #ccc;
    padding: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#searchInput {
    padding: 10px;
    width: 300px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#searchResults {
    padding: 20px;
}

a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #666;
}

#main-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    text-align: center;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    display: block;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
  }
  
  li a:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  li a .video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li a .video-info .duration {
    border-left: 1px solid #ccc;
    padding-left: 10px;
  }
  