/*
CSS RESET
CSS RESET
CSS RESET
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Page-Wide Styles Start
*/

html {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: 'Readex Pro', Arial, sans-serif;
    color: #2d2d2d;
    background-color: #f3f2f7;
    text-align: center;
}


/* 
STYLES
STYLES
STYLES
*/

/* 
Statistics for All Content Start
*/

.contentStats h2 {
    font-size: 1.5rem;
}

.contentStats {
    font-family: 'Readex Pro', sans-serif;
    padding: 3rem 0 0;
    /* border-bottom: 1px solid #ccc; */
    margin: 0 auto;
}

/* .contentStatsBtn {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid #eef2f6; */
    /* border-radius: .625rem; */
    /* background-color: #eef2f6; */
    /* width: 15rem;
    margin: 3rem auto 0;
    background-color: #fff;
    border: 1px solid #fff;
    padding: .5rem 0;
} */


/* .contentStatsBtn h2{
    padding: 0;
} */

/* .contentStatsBtn i {
    padding-top: .25rem;
} */

.statsContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 2rem;
    width: 100%;
}

/* .statsContainer * {
    width: 20%;
} */

/* 
Statistics for All Content End
*/


/* 

HEADER START

*/

header {
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.logoContainer {
    max-width: 5rem;
    /* overflow: hidden; */
    padding-top: .4rem;
    flex: 1 1;
}

header img {
    /* width: 100%;
    height: 100%;
    margin: -50px -50px -90px -60px; */
    /* margin: -0.02rem -0.02rem -0.04rem -0.03rem; */
    /* margin: -25% -40% -45% -40%; */
    width: 100%;
    display: block;
    height: auto;
}

h1 {
    font-size: 3rem;
    font-family: 'Readex Pro', serif;
}

/* 

HEADER END

*/

h2 {
    color: #444;
    padding: 20px;
}

a {
    display: block;
    margin-bottom: 1rem;
    color: #333;
    text-decoration: none;
}

#searchResults h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#searchResults h3:nth-of-type(1) {
    color: #0ed4d4;
}

#searchResults h3:nth-of-type(1) ~ a:hover {
    color: #0ed4d4;
}

#searchResults h3:nth-of-type(2) {
    color: #239fe3;
}

#searchResults h3:nth-of-type(2) ~ a:hover {
    color: #239fe3;
}

#searchResults h3:nth-of-type(3) {
    color: #ff7f3c;
}

#searchResults h3:nth-of-type(3) ~ a:hover {
    color: #ff7f3c;
}

#searchResults h3:nth-of-type(4) {
    color: #ff2e65;
}

#searchResults h3:nth-of-type(4) ~ a:hover {
    color: #ff2e65;
}




table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#searchInput {
    /* width: 30rem; */
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
 
}

button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #ff9301;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
}

/* #searchResults {
    padding: 20px;
} */

.searchSection {
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchBar {
    display: flex;
    background-color: #ff9301;
    /* width: 20rem; */
    column-gap: 0;
    align-content: center;
    margin: 0rem 0 4%;
    /* border: 1px solid #fff;
    border-radius: .625rem; */
    width: 40%;
}

.searchSection h2 {
    font-size: 2rem;
}

.searchSection h3 {
    font-size: 1.25rem;
}


/* #main-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
} */


h1 {
    color: #333;
    text-align: center;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    display: block;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
  }
  
  li a:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  li a .video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li a .video-info .duration {
    border-left: 1px solid #ccc;
    padding-left: 10px;
  }
  
